In [1]:
# Import dependencies.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Import the WeatherPy_vacation.csv file from Part 1 as a new DataFrame.
cities_vacation_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
cities_vacation_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hermanus,ZA,-34.4187,19.2345,63.81,95,81,4.70,broken clouds
1,Bredasdorp,ZA,-34.5322,20.0403,60.06,96,90,1.97,overcast clouds
2,Erenhot,CN,43.6475,111.9767,35.55,23,0,8.99,clear sky
3,Deputatskiy,RU,69.3000,139.9000,4.96,94,94,5.99,overcast clouds
4,Bambanglipuro,ID,-7.9500,110.2833,76.24,90,100,4.81,light rain

In [4]:
#Prompt the customer for the minimum  and maximum temperature preference, rain and snow.
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 50
What is your maximum temperature preference?
max_temp: 70
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [7]:
preffered_cities_df = cities_vacation_df.loc[(cities_vacation_df["Max Temp"] > min_temp) & (cities_vacation_df["Max Temp"] < max_temp)]

preffered_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hermanus,ZA,-34.4187,19.2345,63.81,95,81,4.70,broken clouds
1,Bredasdorp,ZA,-34.5322,20.0403,60.06,96,90,1.97,overcast clouds
7,Luderitz,NaN,-26.6481,15.1594,61.00,78,0,9.33,clear sky
13,Ushuaia,AR,-54.8000,-68.3000,53.22,58,20,23.02,few clouds
15,Carnarvon,AU,-24.8667,113.6333,63.01,60,0,18.72,clear sky

In [8]:
weather_vacation_df = preffered_cities_df[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()
weather_vacation_df.head()

          City Country  Max Temp Current Description      Lat       Lng
0     Hermanus      ZA     63.81       broken clouds -34.4187   19.2345
1   Bredasdorp      ZA     60.06     overcast clouds -34.5322   20.0403
7     Luderitz     NaN     61.00           clear sky -26.6481   15.1594
13     Ushuaia      AR     53.22          few clouds -54.8000  -68.3000
15   Carnarvon      AU     63.01           clear sky -24.8667  113.6333

In [9]:
weather_vacation_df["Hotel Name"] = ""
weather_vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,63.81,broken clouds,-34.4187,19.2345,
1,Bredasdorp,ZA,60.06,overcast clouds,-34.5322,20.0403,
7,Luderitz,NaN,61.00,clear sky,-26.6481,15.1594,
13,Ushuaia,AR,53.22,few clouds,-54.8000,-68.3000,
15,Carnarvon,AU,63.01,clear sky,-24.8667,113.6333,

In [10]:
#Import requests
import requests


from config import g_key

In [11]:
# Search for hotels and add them in the weather dataframe.
for i, row in preffered_cities_df[51:54].iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    location = f"{lat},{lng}"
   
    params = {"radius" : 5000,
         "key": g_key,
         "type": "lodging",
        "location": f"{lat},{lng}"}
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
#     print(hotels)
    try:
        weather_vacation_df.loc[i,"Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found....skipping.")

In [12]:
weather_vacation_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,63.81,broken clouds,-34.4187,19.2345,
1,Bredasdorp,ZA,60.06,overcast clouds,-34.5322,20.0403,
7,Luderitz,NaN,61.00,clear sky,-26.6481,15.1594,
13,Ushuaia,AR,53.22,few clouds,-54.8000,-68.3000,
15,Carnarvon,AU,63.01,clear sky,-24.8667,113.6333,
18,Rikitea,PF,68.86,clear sky,-23.1203,-134.9692,
33,Cape Town,ZA,65.08,few clouds,-33.9258,18.4232,
34,Antibes,FR,67.14,clear sky,43.5624,7.1278,
37,Torbay,CA,61.75,mist,47.6666,-52.7314,
44,Mar Del Plata,AR,60.94,clear sky,-38.0023,-57.5575,

In [15]:
#weather_vacation_df.to_csv("data/WeatherPy_vacation.csv", index_label="City ID")

weather_vacation_df = pd.read_csv("WeatherPy_vacation-backup.csv")
weather_vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

In [16]:
import gmaps
#Adding markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in weather_vacation_df.iterrows()]

#Create the heatmap of temperature for the vacation spots and marker for each city.
locations = weather_vacation_df[["Lat","Lng"]]
# max_temp = weather_vacation_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [113]:
import gmaps
#Adding markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in weather_vacation_df.iterrows()]

#Create the heatmap of temperature for the vacation spots and marker for each city.
locations = weather_vacation_df[["Lat","Lng"]]
# max_temp = weather_vacation_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))