# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
%matplotlib inline
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
# YOUR CODE HERE
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hermanus,ZA,-34.4187,19.2345,63.81,95,81,4.70,broken clouds
1,Bredasdorp,ZA,-34.5322,20.0403,60.06,96,90,1.97,overcast clouds
2,Erenhot,CN,43.6475,111.9767,35.55,23,0,8.99,clear sky
3,Deputatskiy,RU,69.3000,139.9000,4.96,94,94,5.99,overcast clouds
4,Bambanglipuro,ID,-7.9500,110.2833,76.24,90,100,4.81,light rain
5,Nikolskoye,RU,59.7035,30.7861,49.91,82,100,11.21,overcast clouds
6,Tuatapere,NZ,-46.1333,167.6833,43.86,84,65,8.16,broken clouds
7,Luderitz,NaN,-26.6481,15.1594,61.00,78,0,9.33,clear sky
8,Maple Creek,CA,49.9168,-109.4848,75.25,20,5,9.22,clear sky
9,Lenger,KZ,42.1830,69.8839,49.44,81,100,1.34,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hermanus,ZA,-34.4187,19.2345,63.81,95,81,4.70,broken clouds
1,Bredasdorp,ZA,-34.5322,20.0403,60.06,96,90,1.97,overcast clouds
4,Bambanglipuro,ID,-7.9500,110.2833,76.24,90,100,4.81,light rain
7,Luderitz,NaN,-26.6481,15.1594,61.00,78,0,9.33,clear sky
8,Maple Creek,CA,49.9168,-109.4848,75.25,20,5,9.22,clear sky
11,Dalbandin,PK,28.8947,64.4101,71.26,10,0,2.91,clear sky
12,Avarua,CK,-21.2078,-159.7750,77.05,61,40,18.41,scattered clouds
13,Ushuaia,AR,-54.8000,-68.3000,53.22,58,20,23.02,few clouds
15,Carnarvon,AU,-24.8667,113.6333,63.01,60,0,18.72,clear sky
18,Rikitea,PF,-23.1203,-134.9692,68.86,62,2,18.32,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hermanus,ZA,-34.4187,19.2345,63.81,95,81,4.70,broken clouds
1,Bredasdorp,ZA,-34.5322,20.0403,60.06,96,90,1.97,overcast clouds
4,Bambanglipuro,ID,-7.9500,110.2833,76.24,90,100,4.81,light rain
8,Maple Creek,CA,49.9168,-109.4848,75.25,20,5,9.22,clear sky
11,Dalbandin,PK,28.8947,64.4101,71.26,10,0,2.91,clear sky
12,Avarua,CK,-21.2078,-159.7750,77.05,61,40,18.41,scattered clouds
13,Ushuaia,AR,-54.8000,-68.3000,53.22,58,20,23.02,few clouds
15,Carnarvon,AU,-24.8667,113.6333,63.01,60,0,18.72,clear sky
18,Rikitea,PF,-23.1203,-134.9692,68.86,62,2,18.32,clear sky
19,Tanete,ID,-3.9443,119.7848,75.27,97,100,1.88,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

             City Country  Max Temp Current Description      Lat       Lng
0        Hermanus      ZA     63.81       broken clouds -34.4187   19.2345
1      Bredasdorp      ZA     60.06     overcast clouds -34.5322   20.0403
4   Bambanglipuro      ID     76.24          light rain  -7.9500  110.2833
8     Maple Creek      CA     75.25           clear sky  49.9168 -109.4848
11      Dalbandin      PK     71.26           clear sky  28.8947   64.4101
12         Avarua      CK     77.05    scattered clouds -21.2078 -159.7750
13        Ushuaia      AR     53.22          few clouds -54.8000  -68.3000
15      Carnarvon      AU     63.01           clear sky -24.8667  113.6333
18        Rikitea      PF     68.86           clear sky -23.1203 -134.9692
19         Tanete      ID     75.27     overcast clouds  -3.9443  119.7848

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,63.81,broken clouds,-34.4187,19.2345,
1,Bredasdorp,ZA,60.06,overcast clouds,-34.5322,20.0403,
4,Bambanglipuro,ID,76.24,light rain,-7.9500,110.2833,
8,Maple Creek,CA,75.25,clear sky,49.9168,-109.4848,
11,Dalbandin,PK,71.26,clear sky,28.8947,64.4101,
12,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,
13,Ushuaia,AR,53.22,few clouds,-54.8000,-68.3000,
15,Carnarvon,AU,63.01,clear sky,-24.8667,113.6333,
18,Rikitea,PF,68.86,clear sky,-23.1203,-134.9692,
19,Tanete,ID,75.27,overcast clouds,-3.9443,119.7848,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = hotel_df.loc[index,"Lat"]
    lng = hotel_df.loc[index,"Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("OK")
    except (IndexError):
        print("Hotel not found... skipping.")
        print(hotels)

OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
Hotel not found... skipping.
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,63.81,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Bredasdorp,ZA,60.06,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
4,Bambanglipuro,ID,76.24,light rain,-7.9500,110.2833,Puri Brata
8,Maple Creek,CA,75.25,clear sky,49.9168,-109.4848,Willowbend Campground & Cabins
11,Dalbandin,PK,71.26,clear sky,28.8947,64.4101,Sanjrani House
12,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,Paradise Inn
13,Ushuaia,AR,53.22,few clouds,-54.8000,-68.3000,Albatross Hotel
15,Carnarvon,AU,63.01,clear sky,-24.8667,113.6333,Hospitality Carnarvon
18,Rikitea,PF,68.86,clear sky,-23.1203,-134.9692,People ThankYou
19,Tanete,ID,75.27,overcast clouds,-3.9443,119.7848,Wisma Tri Multi

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""].copy()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,63.81,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Bredasdorp,ZA,60.06,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
4,Bambanglipuro,ID,76.24,light rain,-7.9500,110.2833,Puri Brata
8,Maple Creek,CA,75.25,clear sky,49.9168,-109.4848,Willowbend Campground & Cabins
11,Dalbandin,PK,71.26,clear sky,28.8947,64.4101,Sanjrani House
12,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,Paradise Inn
13,Ushuaia,AR,53.22,few clouds,-54.8000,-68.3000,Albatross Hotel
15,Carnarvon,AU,63.01,clear sky,-24.8667,113.6333,Hospitality Carnarvon
18,Rikitea,PF,68.86,clear sky,-23.1203,-134.9692,People ThankYou
19,Tanete,ID,75.27,overcast clouds,-3.9443,119.7848,Wisma Tri Multi

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = clean_hotel_df

# Create a CSV file by using the clean_hotel_df DataFrame
output_data_file.to_csv(".\WeatherPy_vacation.csv")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 63.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 60.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Puri Brata</dd>\n<dt>City</dt><dd>Bambanglipuro</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 76.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Willowbend Campground & Cabins</dd>\n<dt>City</dt><dd>Maple Creek</dd>\n<dt>Country</dt><dd>CA</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sanjrani House</dd>\n<dt>City</dt><dd>Dalbandin</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>few clouds and 53.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 63.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Wisma Tri Multi</dd>\n<dt>City</dt><dd>Tanete</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.27 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -34.4187   19.2345
1  -34.5322   20.0403
4   -7.9500  110.2833
8   49.9168 -109.4848
11  28.8947   64.4101
12 -21.2078 -159.7750
13 -54.8000  -68.3000
15 -24.8667  113.6333
18 -23.1203 -134.9692
19  -3.9443  119.7848

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))